services:
  # Usamos Nginx: Es agnóstico a la versión de Docker y súper ligero
  proxy:
    image: nginx:alpine
    container_name: nginx-balancer
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

  apihandler:
    build: ./apihandler
    image: apihandler-reto1:v1
    environment:
      - JAVA_OPTS=-Xmx512m -Xms256m

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-broker
    ports:
      - "5672:5672"    # Comunicación de datos (AMQP)
      - "15672:15672"  # Dashboard administrativo
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  db-journal:
    image: postgres:alpine
    container_name: postgres-journal
    environment:
      POSTGRES_DB: trading_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  journaler:
    build: ./journaler
    image: journaler-reto1:v1
    depends_on:
      - rabbitmq
      - db-journal
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db-journal:5432/trading_db