NODE_ENV=development
PORT=3001

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=reto_final_db
DB_USER=appuser
DB_PASSWORD=secret
DB_SCHEMA=exchange

# CORS
RABBITMQ_URL=amqp://appuser:secret@localhost:5672
COLLECTION_MS_URL=http://localhost:3002
INVENTORY_MS_URL=http://localhost:3003
TRANSFER_RETRY_ATTEMPTS=1
TRANSFER_RETRY_DELAY_MS=500